body{
    background-color: lightblue;
    font-family: Arial;
}

.container{
    background-color: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
Input,
select,
button{
    width: 80%;
    padding: 10px;
    margin: 10px;
}

